<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Zadanie3.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=DESKTOP-SO6RPSO;Initial Catalog=AdventureWorks;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Zadanie3.Properties.Settings.AdventureWorks2014ConnectionString"
            connectionString="Data Source=DESKTOP-5IBQS2A;Initial Catalog=AdventureWorks2014;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>